.header {
  background-color: white;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-inline: 3rem;
  gap: 15rem;
}

.nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 10rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: var(--ff-text);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link {
  color: var(--cc-grey);
  text-decoration: none;
}

.nav-link:hover {
  color: black;
}

.nav-icon {
  filter: var(--svg-filter);
  height: 1rem;
  cursor: pointer;
}

.nav-icon:hover {
  filter: var(--svg-hover);
}
